.body{
display: flex;
height: 100vh;
width: 100vw;
align-items: center;
justify-content: center;
position: relative;
}

.tableContainer{
  position: relative;
  display: flex;
  height: 80vh;
  width: 80vw;

}

.title{
  position: absolute;
  top:5px;
  font-weight: 900;
  display:block;
  height: fit-content;
  width: fit-content;
  background: linear-gradient(45deg,red,orange);
  color:white;
  padding:10px;
  border-radius: 5px ;

}





.plusIcon {
  position: absolute;
  right: -70px;
  width: 70px;
  height: 70px;
  background: linear-gradient(45deg, #5dadff9e, #1469d9);
  color: white;
  padding: 0px;
  border-radius: 0% 50% 50% 0%;
  cursor: pointer;
  transition: all 0.5ms ease-in 0.5ms;
}
.plusIcon:active {
  transform: scale(0.89);
}

.viewIcon {
  position: absolute;
    top: 89px;
    right: -68px;
    width: 70px;
    height: 70px;
    background: rgb(237, 138, 9);
    color: white;
    padding: 0px;
    border-radius: 0% 50% 50% 0%;
    cursor: pointer;
    transition: all 0.5ms ease-in 0.5ms;
}
.viewIcon:active {
  transform: scale(0.89);
}

.leaveIcon {
  position: absolute;
    top: 180px;
    right: -68px;
    width: 70px;
    height: 70px;
    background: rgb(41, 151, 148);
    color: white;
    padding: 0px;
    border-radius: 0% 50% 50% 0%;
    cursor: pointer;
    transition: all 0.5ms ease-in 0.5ms;
}
.leaveIcon:active {
  transform: scale(0.89);
}

.leaveHistoryIcon {
  position: absolute;
    top: 282px;
    right: -68px;
    width: 70px;
    height: 70px;
    background: rgb(149 67 141);
    color: white;
    padding: 0px;
    border-radius: 0% 50% 50% 0%;
    cursor: pointer;
    transition: all 0.5ms ease-in 0.5ms;
}
.leaveHistoryIcon:active {
  transform: scale(0.89);
  transform-origin:left ;
}


.spanText {
  position: absolute;
  left: 0px;
  top: 25%;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}

.MuiDataGrid-virtualScroller.css-qvtrhg-MuiDataGrid-virtualScroller {
  overflow: auto !important;
}

.statsBody{
  display: block;
    width: 80vw;
    height: 80vh;
}
.closeButton button{
  position: absolute;
  top:40px;
  right:40px;
  font-weight: 900;
  display:block;
  height: fit-content;
  width: fit-content;
  background: rgb(219, 126, 4);
  color:white;
  border:none;
  padding:10px;
  border-radius: 5px ;
  transition: all 0.4ms ease-in 0.4ms;
}

.closeButton button:hover{
  background: rgb(215, 72, 5);

}

.closeButton button:active{
 transform: size(1.2);

}
.filterSpace{
  display: block;
    width: 150px;

}



.leaveContainer{
  border: 2px solid #716c6c47;
  display: flex;
  width: 50%;
  height: 60%;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 35px;

}


.leavesPageHeading{
  border: 2px solid #716c6c47;
  border-radius: 10px;

  position: absolute;
  top: -25px;
  /* right: 37%; */
  color: white;
  background: rgb(178, 175, 175);
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
}

.leavesForm{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  /* border:2px solid bl1ack; */
  height:100%;

}

.leavesFormRow{
  /* border: 2px solid black; */
    display: flex;
    width: 50vw;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;


}

.submitLeaves{
  background-color: bisque;
  color:rgb(177, 117, 43);
  border:2px solid white;

  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3ms ease-in 0.3ms ease-out;
}

.submitLeaves:hover{
  border:2px solid rgb(177, 117, 43);
  background-color: white ;

  cursor: pointer;
}
.submitLeaves:active{
  transform: scale(0.9);
  cursor: pointer;
}



.leaveReason {
  background: white;
  border: 2px solid grey;
  padding: 5px 20px 5px 20px;
  font-weight: 500;
  display: block;
  width:100%;
  height: 100%;
  overflow: scroll;

  
}



.leavesInput{

  flex: 1;
  display: flex



}


.leavesLabel{
  flex: 1;
  display: flex
}

.leavesInputTextbox{
  flex: 1 1;
  display: flex;
  width: 400px;
  height: 106px;
}