.body{
display: flex;
height: 100vh;
width: 100vw;
align-items: center;
justify-content: center;
}

.container{

}


table {
    border-collapse: collapse;
    width: 100%;
  }
  
  /* Style for table headers */
  th {
    background-color: #f2f2f2;
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  /* Style for table data cells */
  td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }