.body{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    position: relative;
    }
    
    .tableContainer{
      display: flex;
      height: 80vh;
      width: 80vw;
    
    }
    
    .title{
      position: absolute;
      top:5px;
      font-weight: 900;
      display:block;
      height: fit-content;
      width: fit-content;
      background: linear-gradient(45deg,red,orange);
      color:white;
      padding:10px;
      border-radius: 5px ;
    
    }
    
    
    .viewButton{

      font-weight: 900;

      display:block;
      height: fit-content;
      width: fit-content;
      background: grey;
      color:white;
      padding:10px;
      border-radius: 5px ;
      transition: all 0.4ms ease-in 0.4ms;
    }
    .viewButton.disabled{
      pointer-events: none;
      opacity: 0.5;
      background: lightgrey;
      color:grey;
    }
    .viewButton:hover{
      cursor: pointer;

      font-weight: 900;
      display:block;
      height: fit-content;
      width: fit-content;
      background: white;
      color:grey;
      padding:10px;
      border-radius: 5px ;
    }
    .viewButton:active{
     transform: scale(1.2);
    }
    
    

    .closeButton button{
      position: absolute;
      top:40px;
      right:40px;
      font-weight: 900;
      display:block;
      height: fit-content;
      width: fit-content;
      background: rgb(219, 126, 4);
      color:white;
      border:none;
      padding:10px;
      border-radius: 5px ;
      transition: all 0.4ms ease-in 0.4ms;
    }

    .closeButton button:hover{
      background: rgb(215, 72, 5);

    }

    .closeButton button:active{
     transform: size(1.2);

    }

    .box_container{
      padding: 50px;
      background: #9b97977a;
    display: inline-flex;
    width: 50vw;
    height: 50vh;
    border: 2px solid goldenrod;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;
    }

    .boxy{
      display: flex;
      margin: 5px 5px;

    }
    .boxy label{
      flex:1;
      display: flex;
      justify-content: flex-start;
      /* background-color: white; */
      padding:10px;
    }
    .boxy span{
      flex: 1;
      display: flex;
      justify-content: center;
      background-color: white;
      padding:10px;
      margin: 0px 0px 0px 5px;
      align-items: center;

    }

    .boxyInput{
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      width: 50px;
      text-align: center;

    }

    .saveButton button{
     
      font-weight: 900;
      display:flex;
      height: fit-content;
      width: fit-content;
      background: rgb(93, 92, 91);
      color:white;
      border:none;
      padding:10px;
      border-radius: 5px ;
      transition: all 0.4ms ease-in 0.4ms;
    }

    .saveButton{
      display: flex;
      margin: 10px 0px 0px 0px;
      justify-content: flex-end;

    }

    .saveButton button:hover{
      border:2px solid rgb(93, 92, 91);
      padding:8px;
      color:black;
      background:white;
    }

    .saveButton button:active{
      transform: scale(1.2);
    }

    .statsBody{
      display: block;
      width: 80vw;
      height: 90vh;
    }

    .filterSpace{
      display: block;
        width: 150px;
    
    }

    .leave_approval_box_container{
      padding: 50px;
      background: #efe9e97a;
    display: inline-flex;
    width: 70vw;
    height: 50vh;
    border: 2px solid goldenrod;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-around;

    }